@import url(https://fonts.googleapis.com/css?family=Open+Sans|Century|Monserrat|Poiret+One|Great+Vibes|Corbel|La+Belle+Aurore|Cedarville+Cursive|Josefin+Slab|Josefin+Sans|Lato);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.clearfixed:after {
  display: table;
  content: " ";
  clear: both;
}

/* Global Styles */
html, body {
  background-color: rbga(0, 0, 0, 1);
  height: 100%;
  overflow-x: hidden;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Josefin Slab", serif;
  margin-top: 5em;
  position: relative;
  width: 100%;
  float: left;
  /* contact */
}
footer #contact {
  padding: 0.8em;
}
footer #contact #title {
  font-size: 1.4em;
  line-height: 2em;
  text-align: center;
}
footer #contact #address {
  font-family: "Josefin Sans", "Corbel", sans-serif;
  line-height: 1.5em;
  padding: 0 0.75em;
}
footer #copyright {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.8em;
  text-align: center;
}

header {
  color: rgba(0, 0, 0, 0.9);
  margin: 0.3em;
  padding: 1em 0.2em 0.4em 0.5em;
  width: 80%;
}
header h1 {
  font-family: "Great Vibes", "La Belle Aurore", serif;
  font-size: 3.8em;
}
header p {
  font-family: "Josefin Slab", serif;
  font-size: 1em;
  margin: 0 4em;
}

main {
  /* section */
}
main section {
  width: 100%;
  float: left;
  display: inline;
  /* text */
}
main section .ad {
  float: right;
  width: 40%;
}
main section .text {
  float: left;
  width: 50%;
  /* .general */
}
main section .text em {
  font-family: "Great Vibes", "La Belle Aurore", serif;
  font-size: 3.8em;
  padding-right: 0.2em;
}
main section .text p {
  float: left;
  font-family: "Josefin Sans", "Corbel", sans-serif;
  font-size: 1.2em;
  line-height: 1.8em;
  margin-top: 2em;
  text-align: justify;
}

nav {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 100%;
  float: left;
}
nav a {
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  font-family: "Poiret One", "Corbel", sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.2em;
  padding: 0.9em 1em;
  text-decoration: none;
  text-transform: uppercase;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
nav a:hover {
  letter-spacing: 0.3em;
}
nav li {
  display: inline;
}

/* Special CSS */
#promo {
  background: url(../img/header.jpg) no-repeat 0 0;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  clear: both;
  padding: 5em 0;
  margin: 0 auto;
  width: 100%;
}
#promo p {
  border: 5px double rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.8);
  font-family: "Josefin Sans", "Corbel", sans-serif;
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: center;
  margin: 0 auto;
  padding: 3.5em 3em;
  width: 60%;
}

.color {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  display: inline-block;
  font-family: "Lato", "Open Sans", "Corbel", Helvetica, sans-serif;
  margin-bottom: 0.5em 0 0.5em;
  overflow-x: hidden;
  width: 100%;
  /* palette */
  /* palette colors */
}
.color p {
  padding: 2em;
}
.color .palette {
  float: left;
  height: 5em;
  width: 5em;
  margin: 0.8em;
}
.color .red {
  background: #ac2325;
}
.color .orange {
  background: #f49054;
}
.color .yellow {
  background: #fde05e;
}
.color .green {
  background: #bcd74a;
}
.color .blue {
  background: #7db4d3;
}
.color .dark-blue {
  background: #104577;
}
.color .purple {
  background: #bc94b7;
}
.color .pink {
  background: #f49fac;
}
.color .black {
  background: rgba(0, 0, 0, 0.8);
}
.color .brown {
  background: #906147;
}
.color .white {
  background: rgba(248, 224, 200, 0.5);
}

.container {
  margin: 3em auto;
  text-align: justify;
  overflow: hidden;
  width: 75%;
}

.hide {
  display: none;
}

#intro {
  border: 0.2em double rgba(0, 0, 0, 0.8);
  font-family: "Josefin Sans", "Corbel", sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 2em 4em;
  margin: 1em 4em 2em;
  text-align: justify;
}

#flowers {
  width: 100%;
  float: left;
  margin: 0 auto;
  text-align: center;
  /* .fl */
}
#flowers:nth-child(1n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: none;
}
#flowers .fl {
  display: inline-block;
  font-family: "Josefin Sans", "Corbel", sans-serif;
  list-style: none;
  margin: 1em 0.3em;
  position: relative;
  /* div */
  /* span */
  /* span:hover */
  /* img */
}
#flowers .fl div {
  background-color: rgba(255, 255, 255, 0.85);
  bottom: 1.1em;
  display: none;
  left: 0;
  line-height: 1.2em;
  max-width: 10.75em;
  padding: 1em;
  position: absolute;
  right: 0;
  top: 0;
}
#flowers .fl div a {
  border: 0.1em solid rgba(0, 0, 0, 0.8);
  background-color: white;
  bottom: 1.2em;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.7em;
  letter-spacing: 0.07em;
  left: 3.25em;
  padding: 0.4em 0.55em;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
}
#flowers .fl div a:hover {
  border: 0.1em solid rgba(255, 255, 255, 0.9);
  background-color: #74714e;
  color: rgba(255, 255, 255, 0.9);
}
#flowers .fl div p {
  font-size: 0.85em;
  margin: 1em 0.2em;
}
#flowers .fl div strong {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: lowercase;
}
#flowers .fl span {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  cursor: pointer;
  display: block;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.08em;
  margin: -0.5em 0;
  padding: 0.8em 0 0.6em;
  text-decoration: none;
  text-transform: uppercase;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
#flowers .fl span:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.18em;
}
#flowers .fl img {
  padding: 0 auto;
  margin: 0 auto;
  width: 12em;
}

/* Media Query Stuff */
@media (min-width: 1px) and (max-width: 480px) {
  #flower {
    width: 100%;
    float: left;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  #flower {
    width: 100%;
    float: left;
  }
}
