/* Global Styles */
html, body {
  background-color: rbga(0, 0, 0, 1);
  overflow-x: hidden;
}

footer {
  background-color: $black;
  bottom: 0;
  color: $white;
  font-family: $font-subtitle;
  position: absolute;
  width: 100%;

  #contact {
    padding: 0.8em;
    #title {
      font-size: 1.4em;
      line-height: 2em;
      text-align: center;
    }
    #address {
      font-family: $font-body;
      line-height: 1.5em;
      padding: 0 0.75em;
    }
  } /* contact */
  #copyright {
    background-color: $black;
    padding: 0.8em;
    text-align: center;
    width: 100%;
  }
}

header {
  color: rgba(0, 0, 0, 0.9);
  margin: 0.3em;
  padding: 1em 0.2em 0.4em 0.5em;
  width: 80%;
  h1 {
    font-family: $font-title;
    font-size: 3.8em;
  } 
  p {
    font-family: $font-subtitle;
    font-size: 1em;
    margin: 0 4em;
  }
}

nav {
  background-color: $black;
  text-align: center;
  
  width: 100%;
  a {
    color: $white;
    display: inline-block;
    font-family: $font-nav;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.2em;
    padding: 0.9em 1em;
    text-decoration: none;
    text-transform: uppercase;
    @include transition(0.5s ease-in-out);
  }
  a:hover {
    letter-spacing: 0.3em;
  }
  li {
    display: inline;
  }
}

/* Special CSS */
#banner {
  background:url(../img/header.jpg) no-repeat 0 0;
  @include background-size(cover);
  height: 25em;
  width: 100%;
  position: fixed;
}

#promo {
  background-color: rgba(255, 255, 255, 0.6);
  border: 5px double $black;
  color: $black;
  font-family: $font-body;
  line-height: 1.4em;
  padding: 4em 3em;
  margin: 5em auto;
  text-align: center;
  width: 40%;
}

.color {
  display: inline-block;
  font-family: $font-color;
  
  p {
    padding: 2em;
  }

  .palette {
    float: left;
    height: 5em;
    width: 5em;
    margin: 0.8em;
  } /* palette */

  /* palette colors */
  .red {
    background: red;
  }
  .orange {
    background: orange;
  }
  .yellow {
    background: yellow;
  }
  .green {
    background: green;
  }
  .blue {
    background: blue;
  }
  .purple {
    background: purple;
  }
  .black {
    background: black;
  }
  .brown {
    background: brown;
  }
  .white {
    background: white;
  }
}

.container {
  margin: 2em auto;
  text-align: justify;
  width: 75%;
}

#flowers {
  text-align: center;
  .fl {
    display: inline-block;
    list-style: none;
    margin: 1em 0.3em;

    span {
      background-color: rgba(0, 0, 0, 0.75);
      color: white;
      display: block;
      font-family: $font-flower;
      font-size: 0.8em;
      font-weight: 500;
      letter-spacing: 0.08em;
      margin: -0.5em 0;
      padding: 0.6em 0;
      text-decoration: none;
      text-transform: uppercase;
    }

    img {
      padding: 0 auto;
      margin: 0 auto;
      width: 12em;
    }

    .toggle {
      background-color: rgba(255, 255, 255, 0.7);
      display: none;
      width: 12em;
    }
  }
}