/* Global Styles */
html, body {
  background-color: rbga(0, 0, 0, 1);
  height: 100%;
  overflow-x: hidden;
}

footer {
  background-color: $black;
  bottom: 0;
  color: $white;
  font-family: $font-subtitle;
  margin-top: 5em;
  position: relative;
  width: 100%;

  #contact {
    padding: 0.8em;
    #title {
      font-size: 1.4em;
      line-height: 2em;
      text-align: center;
    }
    #address {
      font-family: $font-body;
      line-height: 1.5em;
      padding: 0 0.75em;
    }
  } /* contact */
  #copyright {
    background-color: $black;
    padding: 0.8em;
    text-align: center;
    width: 100%;
  }
}

header {
  color: rgba(0, 0, 0, 0.9);
  margin: 0.3em;
  padding: 1em 0.2em 0.4em 0.5em;
  width: 80%;
  h1 {
    font-family: $font-title;
    font-size: 3.8em;
  } 
  p {
    font-family: $font-subtitle;
    font-size: 1em;
    margin: 0 4em;
  }
}

main {
  overflow: auto;
}

nav {
  background-color: $black;
  text-align: center;
  
  width: 100%;
  a {
    color: $white;
    display: inline-block;
    font-family: $font-nav;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.2em;
    padding: 0.9em 1em;
    text-decoration: none;
    text-transform: uppercase;
    @include transition(0.5s ease-in-out);
  }
  a:hover {
    letter-spacing: 0.3em;
  }
  li {
    display: inline;
  }
}

/* Special CSS */
#banner {
  background:url(../img/header.jpg) no-repeat 0 0;
  @include background-size(cover);
  height: 25em;
  width: 100%;
  position: fixed;
}

#promo {
  background-color: rgba(255, 255, 255, 0.6);
  border: 5px double $black;
  color: $black;
  font-family: $font-body;
  line-height: 1.4em;
  padding: 4em 3em;
  margin: 5em auto;
  text-align: center;
  width: 40%;
}

.color {
  border-bottom: 1px solid $grey;
  display: inline-block;
  font-family: $font-color;
  margin-bottom: 0.5em 0 0.5em;
  overflow-x: hidden;
  width: 100%;
  
  p {
    padding: 2em;
  }

  .palette {
    float: left;
    height: 5em;
    width: 5em;
    margin: 0.8em;
  } /* palette */

  /* palette colors */
  .red {
    background: rgba(172, 35, 37, 1);
  }
  .orange {
    background: rgba(244, 144, 84, 1);
  }
  .yellow {
    background: rgba(253, 224, 94, 1);
  }
  .green {
    background: rgba(188, 215, 74, 1);
  }
  .blue {
    background: rgba(125, 180, 211, 1);
  }
  .dark-blue {
    background: rgba(16, 69, 119, 1);
  }
  .purple {
    background: rgba(188, 148, 183, 1);
  }
  .pink {
    background: rgba(244, 159, 172, 1);
  }
  .black {
    background: $black;
  }
  .brown {
    background: rgba(144, 97, 71, 1);
  }
  .white {
    background: rgba(248, 224, 200, 0.5);
  }
}

.container {
  margin: 2em auto;
  text-align: justify;
  width: 75%;
  overflow: hidden;
}

#intro {
  border: 0.2em double $black;
  font-family: $font-body;
  font-size: 1.25em; 
  line-height: 1.5em;
  padding: 2em 4em;
  margin: 1em 4em 2em;
  text-align: justify;
}

#flowers {
  text-align: center;
  .fl {
    display: inline-block;
    font-family: $font-body;
    list-style: none;
    margin: 1em 0.3em;
    position: relative;
    

    div {
      background-color: rgba(255, 255, 255, 0.8);
      bottom: 1.1em;
      display: none;
      font-size: 0.95em;
      left: 0;
      max-width: 10.75em;
      padding: 1em;
      position: absolute;
      right: 0;
      top: 0;
    }

    span {
      background-color: $black;
      color: white;
      display: block;
      font-family: $font-flower;
      font-size: 0.8em;
      font-weight: 500;
      letter-spacing: 0.08em;
      margin: -0.5em 0;
      padding: 0.6em 0;
      text-decoration: none;
      text-transform: uppercase;
    }

    img {
      padding: 0 auto;
      margin: 0 auto;
      width: 12em;
    }
  }
}